body{
  background-color: #37474f;
  padding: 15px;
  .head{
    padding: 30px;
    h1{
      color: #fff;
    }
  }
  .row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    color: #fff;
    border-radius: 15px;
    img{
      border-radius: 50%;
    }
    &.on{
      background-color: #43a047;
    }
    &.off{
       background-color: #757575;
    }
    &.error{
      background-color: #e53935;
    }
    h5{
      padding-top: 34px;
      color: #fff;
    }
  }
}
